
TowerDefenseFramework/Assets/Firebase/Editor/Firebase.Editor.dll.meta
TowerDefenseFramework/Assets/Firebase/Editor/AppDependencies.xml
TowerDefenseFramework/Assets/Firebase/Editor/FirebaseAnalytics_version-8.9.0_manifest.txt.meta
TowerDefenseFramework/Assets/Firebase/Editor/FirebaseAnalytics_version-8.9.0_manifest.txt
TowerDefenseFramework/Assets/Firebase/Editor/Firebase.Editor.dll.meta
TowerDefenseFramework/Assets/Firebase/Editor/Firebase.Editor.dll
TowerDefenseFramework/Assets/Firebase/Editor/AppDependencies.xml.meta
TowerDefenseFramework/Assets/Firebase/Editor/FirebaseAnalytics_version-8.9.0_manifest.txt.meta
TowerDefenseFramework/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_9_0.so
